AUTH_SECRET="your auth secret"

AUTH_GOOGLE_ID="your google client id"
AUTH_GOOGLE_SECRET="your google client secret"

DB_URL="your database url"

# Azure AI
AZURE_API_KEY="your azure api key"
AZURE_RESOURCE_NAME="your azure resource name"
AZURE_MODEL_NAME="your azure model name"
AZURE_SERVICE_NAME="your azure service name"
# PostHog
NEXT_PUBLIC_POSTHOG_KEY="your posthog key"
NEXT_PUBLIC_POSTHOG_HOST="your posthog host"

NEXT_PUBLIC_APP_URL="your app url"

SKIP_ENV_VALIDATION=true
